<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Flask POST Sederhana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <h1>Pengimputan Nama</h1>

    <form method="POST">
        <label>Nama Lengkap</label>
        <input type="text" name="nama" placeholder="Masukkan nama" required>
        <button type="submit">Kirim</button>
    </form>

    {% if nama %}
        <div class="result">
           <p><b>Nama:</b> {{ nama }}</p>
        </div>
    {% endif %}
</div>

</body>
</html>
